{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div class="jumbotron bg-header" style="background-image: url('https://img.chenfeng123.cn/myblog/picture/bcbcafb01e990432bda6c8ac10d5169.jpg')">
    <div class="container">
        <h1>陈风</h1>
        <p>松花酿酒，春水煎茶。一叶扁舟，走一遭。</p>
    </div>
</div>
<div class="container">
        <div class="row">
            
            <div class="col-xs-4 col-md-4 col-md-offset-4 col-xs-offset-4" style="background-color: #f0f0f0;text-align:center;">
                <div>
                    <h2>who am I ?</h2>
                </div>
                <ul class="col-sm-12" style="">
                    <li>
                        <p>生于世纪末的90后</p>
                        <p>热爱物理，对天体物理有着仅限于了解的浓厚兴趣</p>
                        <p>即将毕业的程序员</p>
                        <p>对生活充满着憧憬，却无法热爱生活</p>
                    </li>
                </ul>
            </div>
            
        </div>
    </div>
<br/>
<div class="container">
    <div class="row" style="border-top:1px solid #ccc;">
        <div class="col-md-12">
            <h2>个人简历</h2>
        </div>
    </div>
    <br/>
    <div class="row">
         <div class="col-md-4 col-xs-4" >
            <div class="col-sm-12 " style="border: 1px solid #ccc;border-radius: 10px;">
                <h2>教育经历</h2>
                <br>
                <h4>本科</h4>
                <ul>
                    <li>
                        <p>2017.9~2021.7</p>
                        <p>中南大学</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-4 col-xs-4" >
            <div class="col-sm-12" style="border: 1px solid #ccc;border-radius: 10px;">
                <h2>技术栈</h2>
                <br>
                <h4>前端</h4>
                <ul>
                    <li>
                        <p>bootstrap3</p>
                        <p>js ajax jquery</p>
                    </li>
                </ul>
                <h4>后端</h4>
                <ul>
                    <li>
                        <p>django</p>
                        <p>Nginx uwsgi</p>
                    </li>
                </ul>
                <h4>开发</h4>
                <ul>
                    <li>
                        <p>python3</p>
                        <p>golang</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-4 col-xs-4" >
            <div class="col-sm-12" style="border: 1px solid #ccc;border-radius: 10px;">
                <h2>证书</h2>
                <br>
                <h4>English</h4>
                <ul>
                    <li>
                        <p>四级</p>
                        <p>六级</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-4 col-xs-4" style="margin-top: 40px;">
            <div class="col-sm-12" style="border: 1px solid #ccc;border-radius: 10px;">
                <h2>兴趣爱好</h2>
                <br>
                <ul>
                    <li>
                        <p>篮球 爬山 旅游</p>
                        <p>物理 天文物理 历史</p>

                    </li>
                </ul>
                
            </div>
        </div>

    </div>
</div>
<br>
<br>
<br>
<div class="container">
    <div class="row" style="border-top:1px solid #ccc;">
        <div class="col-md-12">
            <h2>人生旅程</h2>
        </div>
    </div>
    <div class="row" >
        <br>
        <div class="col-md-4 col-xs-4" style="padding:0 0 0 0; ">
            <div class="col-sm-12">
                <img src="https://img.chenfeng123.cn/myblog/picture/16eaa210a985ff6be056d4e6f2a6f57.jpg" style="border-radius: 10px;width: 100%;">
            </div>
        </div>
        <div class="col-md-4 col-xs-4">
            <div class="col-sm-12" style="">
                <h4>初中</h4>
                <br>
                <div>
                    <p>&emsp;&emsp;我自认为我的性格转变其实是从初中开始的。在偏僻的小村里的初中生活让人在成长过程中总是会缺少某些活力。初中应该时最学有余力的三年。尽管初中数学一直都不太好。三年里还是有一些死党，有任然存留在记忆中的一些人。然而也是这三年彻底让我变成一个寡言少语的人。这三年里读的书也很多。可惜并没有学到什么知识和技能。<br>&emsp;&emsp;最后中考还是发挥的不错。来到了县里的高中。</p>
                </div>
                
                
            </div>
        </div>
        <div class="col-md-4 col-xs-4">
            <div class="col-sm-12" style="">
            <h4>高中</h4>
                <br>
                <div>
                    <p>&emsp;&emsp;高中或许是最充实的三年。三年里接触到了物理竞赛。尽管最终成绩不好，但还是花了很多时间努力。</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-xs-4">
            <div class="col-sm-12" style="">
            <h4>大学</h4>
                <br>
                <div>
                    <p>&emsp;&emsp;大学来到了长沙。有些时候我一直在怀疑自己的智商，也许我的逻辑思维能力在高考之后就开始退化了。大学已经过了三年。大二、大三应该是最昏暗的两年。打游戏，没有社交，永远教室-寝室一条线的生活重复了两年。什么都没有学到，什么都不精通，朋友也没有多少。浑浑噩噩。</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}